*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body
{
    padding: 10px;
   background-color: rgb(21, 14, 67);
}

fieldset
{
    border: none;
}